.destination {
  /* position: absolute; */
  color: white;
  width: 100%;
}
.title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin-top: 20px;
}
.title h1 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2.7px;
  color: #ffffff;
}
.title h1 span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2.7px;
  color: #ffffff48;
}
.dest-list {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  color: white;
  z-index: 999;
}
.dest-list li h1 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.36px;
  cursor: pointer;
}
.dest-list li h1.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  margin-top: 5px;
}
.details {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 25px;
}
.details h1 {
  font-family: "Barlow Condensed";
  font-weight: 100;
  font-size: 74px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2.7px;
  color: #ffffff;
  margin-bottom: 10px;
}
.details p {
  letter-spacing: 2.7px;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  width: 90%;
  text-align: center;
  color: #d0d6f9;
}
.details .distance h6 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-block: 10px;
  width: 100%;
}
.details hr {
  width: 80%;
  height: 1px;
  border: none;
  background: #383b4b;
  margin: 0 !important;
  padding: 0 !important;
}
.details h2 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #d0d6f9;
}
@media (min-width: 768px) {
  .destination .title{
    left: 150px;
  }
  .destination .dest-list{
    top: 50%;
    margin-bottom: 50px;
  }
  .destination .details p{
    width: 60%;
  }
  .distance{
    display: flex;
    flex-direction: row;
  }
  .distance div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-right: 10px;
    padding: 10px;
  }
  .distance div h6 {
    font-size: 22px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .details h1{
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .title{
    top: 150px;
    left: 210px!important;
  }
  .dest-list{
    top: 30%!important;
    margin-left: 16.5%;
  }
  .destination .details{
    top: 55%!important;
    margin-left: 18%;
    text-align: left;
  }
  .destination .details p{
    width: 20%;
    text-align: left;
  }
  .distance{
    text-align: left!important;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .distance div h2{
    letter-spacing: 3.3625px;
  }
  .details hr{

  }
}